<!DOCTYPE html>

<html lang="en" th:insert="layouts/default">
<head>
    <title th:fragment="page-title">home</title>
</head>

<body>
<div th:fragment="content" class="flex flex-col gap-4">
    <div class="flex flex-col items-center justify-center">
        <img alt="logo" class="w-32 h-32" th:src="@{/asset/image/logo.svg}" src="/asset/image/logo.svg">
        <h1 class="text-4xl font-bold">yomikaze</h1>
        <p class="text-xl">A comic reader for everyone</p>
    </div>
    <th:block th:replace="views/comic/listing::listing(${comics})"></th:block>
    <div class="self-center">
        <th:block th:insert="fragments/pagination::pagination(${comics})"></th:block>
    </div>
</div>

</body>

</html>
