<!DOCTYPE html>
<html :data-theme="theme" lang="en" th:lang="${#locale.language}" x-data="theme"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" th:content="#{site.description.generic}">
    <title th:text="#{site.name} + '::' + ~{this :: page-title/text()}">name::title</title>
    <link href="/asset/image/logo.svg" rel="shortcut icon" th:href="@{/asset/image/logo.svg}"
          type="image/svg"/>
    <link href="/asset/css/tailwind.min.css" rel="stylesheet" th:href="@{/asset/css/tailwind.min.css}"
          type="text/css"/>
    <link href="/asset/css/feather.min.css" rel="stylesheet" th:href="@{/asset/css/feather.min.css}"
          type="text/css"/>
</head>
<body class="bg-base-100 text-base-content overflow-x-hidden" th:fragment="body">
<th:block th:replace="fragments/scripts"></th:block>
<div class="drawer drawer-mobile">
    <label class="btn btn-circle btn-ghost drawer-button md:hidden" for="sidebar">
        <i data-feather="menu"></i>
    </label>
    <input class="drawer-toggle" id="sidebar" type="checkbox"/>
    <div class="drawer-content">
        <header>
            <div class="navbar bg-base-200">
                <div class="navbar-start">
                    <div th:replace="fragments/header :: theme-switcher"></div>
                </div>
                <div th:replace="fragments/header :: searchbox"></div>
                <div th:replace="fragments/header :: auth"></div>
            </div>
        </header>
        <div class="w-full">
            <div class="p-10" th:insert="this :: content">
                <!-- Main content here -->
            </div>
            <button th:replace="fragments/back-to-top"></button>
        </div>
    </div>
    <div class="drawer-side">
        <label class="drawer-overlay" for="sidebar"></label>
        <aside class="bg-base-200 w-72 text-base-content">
            <div class="navbar mb-6">
                <div class="navbar-start">
                    <div th:replace="fragments/header :: logo"></div>
                </div>
            </div>
            <ul class="menu px-4">
                <!-- Sidebar content here -->
                <li class="menu-title"><span>My account</span></li>
                <li>
                    <a th:classappend="${#request.requestURI == '/profile' ? 'active' : ''}"
                       th:href="@{/profile}">
                        <i aria-hidden="true" data-feather="user"></i>
                        Profile
                    </a>
                </li>

                <li>
                    <a th:classappend="${#request.requestURI == '/library' ? 'active' : ''}"
                       th:href="@{/library}">
                        <i aria-hidden="true" data-feather="bookmark"></i>
                        Library
                    </a>
                </li>
                <li>
                    <a th:classappend="${#request.requestURI == '/history' ? 'active' : ''}"
                       th:href="@{/history}">
                        <i aria-hidden="true" data-feather="rotate-ccw"></i>
                        History
                    </a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('request.create.uploader') && !hasAuthority('comic.manage')"
                       th:classappend="${#request.requestURI == '/request' ? 'active' : ''}"
                       th:href="@{/request}">
                        <i aria-hidden="true" data-feather="message-circle"></i>
                        Request to become uploader
                    </a>
                </li>

            </ul>
            <ul class="menu px-4">
                <li></li>
                <li class="menu-title"><span>Uploader zone</span></li>
                <li>
                    <a sec:authorize="hasAuthority('account.manage')"
                       th:classappend="${#request.requestURI == '/account/manage' ? 'active' : ''}"
                       th:href="@{/account/manage}">
                        <i aria-hidden="true" data-feather="users"></i>
                        Manage Account
                    </a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('comic.create')"
                       th:classappend="${#request.requestURI == '/comic/create' ? 'active' : ''}"
                       th:href="@{/comic/create}">
                        <i aria-hidden="true" data-feather="book"></i>
                        Create comic
                    </a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('comic.manage')"
                       th:classappend="${#request.requestURI == '/comic/manage' ? 'active' : ''}"
                       th:href="@{/comic/manage}">
                        <i aria-hidden="true" data-feather="book-open"></i>
                        Manage comic
                    </a>
                </li>
                <li>
                    <a sec:authorize="hasAuthority('genre.manage')"
                       th:classappend="${#request.requestURI == '/genre/manage' ? 'active' : ''}"
                       th:href="@{/genre/manage}">
                        <i aria-hidden="true" data-feather="tag"></i>
                        Manage genres
                    </a>
                </li>

                <li>
                    <a sec:authorize="hasAuthority('request.manage')"
                       th:classappend="${#request.requestURI == '/request/manage' ? 'active' : ''}"
                       th:href="@{/request/manage}">
                        <i aria-hidden="true" data-feather="check-circle"></i>
                        Manage Request
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</div>
</body>
</html>
