<!DOCTYPE html>
<html lang="en" x-bind:data-theme="themes[theme_id]"
      x-data="{ theme_id: parseInt(localStorage.getItem('theme_id')) || 0, themes: [ 'ayu-light', 'ayu-mirage', 'ayu-dark' ] }"
      x-init="$watch('theme_id', (val) => localStorage.setItem('theme_id', val));"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" th:href="@{/asset/logo.svg}" type="image/svg">
    <link rel="stylesheet" th:href="@{/asset/css/tailwind.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/asset/css/feather.min.css}" type="text/css"/>
    <title th:replace="this :: page-title">yomikaze</title>
</head>

<body class="bg-base-100 text-primary-content" th:fragment="body">
<th:block th:replace="/fragments/header"></th:block>
<div th:replace="this :: content">
    <!--  Main content here  -->
</div>
<th:block th:replace="/fragments/footer"></th:block>
<th:block th:replace="/fragments/scripts"></th:block>
</body>
</html>
