<!DOCTYPE html>
<html lang="en" th:insert="layouts/default" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title th:fragment="page-title">comic::detail</title>
</head>
<!--@thymesVar id="account" type="org.yomikaze.persistence.entity.Account"-->
<body class="flex flex-col gap-8" th:fragment="content" th:with="account = ${#authentication.principal}">
<div class="bg-base-100 rounded-box shadow-2xl p-10">
    <div class="flex flex-col gap-8 flex-wrap justify-items-center">
        <div class="flex flex-row flex-wrap md:flex-nowrap gap-8">
            <!-- Thumbnail -->
            <div class="shrink-0 flex-grow-0 mx-auto">
                <img
                    alt="thumbnail"
                    class="w-[190px] h-[280px] object-cover object-center rounded-box shadow-2xl"
                    src="https://via.placeholder.com/190x280?text=No+thumbnail"
                    th:src="${#objects.nullSafe(comic.thumbnail, 'https://via.placeholder.com/190x280?text=No+thumbnail')}"
                />
            </div>
            <!-- Detail -->
            <div class="flex-grow flex flex-col gap-4">
                <!-- Comic name -->
                <div class="flex gap-2">
                    <div class="flex-grow">
                        <div class="flex flex-col">
                            <div class="indicator">
                                    <span class="indicator-item badge badge-secondary badge-sm"
                                          th:if="${comic.new}">New</span>
                                <h2 class="text-3xl title-font font-medium" th:text="${comic.name}">
                                    ${comic.name}</h2>
                            </div>
                            <span class="text-sm text-neutral italic"
                                  th:text="${#strings.listJoin(comic.aliases, '; ')}">
                                        ${comic.aliases}
                                    </span>
                        </div>
                    </div>
                    <div class="flex-shrink">
                        <div class="a2a_kit a2a_kit_size_24 a2a_default_style"
                             data-a2a-icon-color="transparent,#55B4D4">
                            <a class="a2a_button_copy_link"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_reddit"></a>
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                    </div>
                    <div class="flex-shrink" sec:authorize="!anonymous">
                        <div class="dropdown dropdown-end">
                            <label class="btn btn-ghost btn-sm btn-circle" tabindex="0">
                                <i data-feather="more-vertical"></i>
                            </label>
                            <ul class="dropdown-content menu menu-compact p-2 shadow bg-base-300 rounded-box w-52"
                                tabindex="0">
                                <li class="dropdown-item gap-2">
                                    <label for="report-comic-modal">
                                        <i data-feather="alert-triangle"></i>
                                        <span>Report</span>
                                    </label>
                                </li>
                                <li class="dropdown-item gap-2"
                                    sec:authorize="hasAuthority('comic.edit')"
                                    th:if="${comic.uploader.id == #authentication.principal.id || #authorization.expression('hasAuthority(''comic.edit.other'')')}">
                                    <a href="/comic/edit/" th:href="@{/comic/{id}/edit(id=${comic.id})}">
                                        <i data-feather="edit"></i>
                                        <span>Edit</span>
                                    </a>
                                </li>
                                <li class="dropdown-item gap-2"
                                    sec:authorize="hasAnyAuthority('comic.delete', 'comic.delete.other')"
                                    th:if="${comic.uploader.id == #authentication.principal.id || #authorization.expression('hasAuthority(''comic.delete.other'')')}">
                                    <label for="delete-comic-modal">
                                        <i data-feather="trash"></i>
                                        <span>Delete</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Comic attributes -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
                    <dl class="grid grid-cols-5 gap-x-4 gap-y-2 flex-grow-0">
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="user"></i>
                            Authors
                        </dt>
                        <dd class="col-span-3">
                            <a th:each="author : ${comic.authors}"
                               th:href="@{/search/(author=${author})}"
                               th:text="${author}">${author}</a>
                            <th:block th:if="${comic.authors.isEmpty()}">Unknown</th:block>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="upload-cloud"></i>
                            Uploader
                        </dt>
                        <dd class="col-span-3">
                            <a
                                class="link link-accent"
                                href="/profile/{id}"
                                th:href="@{/profile/{id}(id=${comic.uploader.id})}"
                                th:text="${comic.uploader.profile.displayName}"
                            >
                                ${comic.uploader.profile.displayName}
                            </a>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="activity"></i>
                            Status
                        </dt>
                        <dd class="col-span-3">
                            <span class="badge badge-accent" th:if="${comic.finished == null}">Ongoing</span>
                            <span class="badge badge-success" th:if="${comic.finished != null}">Completed</span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="clock"></i>
                            Last updated
                        </dt>
                        <dd class="col-span-3">
                            <span th:text="${comic.updatedAt}"
                                  th:x-text="|moment('${comic.updatedAt}').fromNow()|">
                            </span>
                        </dd>
                    </dl>
                    <dl class="grid grid-cols-5 gap-x-4 gap-y-2 flex-grow-0">
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="eye"></i>
                            Views
                        </dt>
                        <dd class="col-span-3">
                                    <span th:text="${comic.views}"
                                          th:x-text="| formatNumber(${comic.views}) |">
                                        [[${comic.views}]]
                                    </span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="bookmark"></i>
                            In libraries
                        </dt>
                        <dd class="col-span-3">
                                <span th:text="${comic.inLibraries}"
                                      th:x-text="| formatNumber(${comic.inLibraries}) |">
                                    [[${comic.inLibraries}]]
                                </span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="calendar"></i>
                            Published
                        </dt>
                        <dd class="col-span-3" th:switch="${comic.published != null}">
                            <span th:case="false">Unknown</span>
                            <span th:case="true"
                                  th:text="${comic.published}"
                                  th:x-text="| moment('${comic.published}').fromNow() |">
                                        [[${comic.published}]]
                                    </span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="calendar"></i>
                            Finished
                        </dt>
                        <dd class="col-span-3" th:switch="${comic.finished != null}">
                            <span th:case="false">Unknown</span>
                            <span th:case="true"
                                  th:text="${comic.finished}"
                                  th:x-text="| moment('${comic.finished}').fromNow() |">
                                  [[${comic.finished}]]
                            </span>
                        </dd>
                    </dl>
                </div>
                <!-- Comic genres -->
                <div class="grid grid-cols-5 gap-2">
                    <div class="col-span-1">
                                <span class="font-bold gap-2">
                                    <i data-feather="tag"></i>
                                    Genres
                                </span>
                    </div>
                    <div class="col-span-4 grow flex flex-wrap flex-row gap-2">
                        <div class="tooltip"
                             th:data-tip="${genre.description ?: genre.name}"
                             th:each="genre : ${comic.genres}">
                            <a class="badge badge-outline badge-accent p-2"
                               th:href="@{/comic/search/(genre=${genre.id})}"
                               th:text="${genre.name}">
                                [[${genre}]]
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Action button -->
                <div class="flex flex-row flex-wrap gap-2">
                    <!-- Read button -->
                    <a class="btn btn-primary gap-2"
                       th:href="@{/comic/{id}/chapter/0(id=${comic.id})}"
                       th:if="${not chapters.isEmpty()}">
                        <i data-feather="book-open"></i>
                        Read
                    </a>
                    <div class="tooltip"
                         data-tip="Comic currently has no chapters"
                         th:if="${chapters.isEmpty()}">
                        <button class="btn btn-primary btn-disabled gap-2" disabled>
                            <i data-feather="book-open"></i>
                            Read
                        </button>
                    </div>
                    <!-- Read the latest button -->
                    <a class="btn btn-secondary gap-2"
                       th:href="@{/comic/{id}/chapter/{index}(id=${comic.id}, index=${chapters.size() - 1})}"
                       th:if="${not chapters.isEmpty()}">
                        <i data-feather="fast-forward"></i>
                        Read latest
                    </a>
                    <div class="tooltip"
                         data-tip="Comic currently has no chapters"
                         th:if="${chapters.isEmpty()}">
                        <button class="btn btn-secondary btn-disabled gap-2" disabled>
                            <i data-feather="fast-forward"></i>
                            Read latest
                        </button>
                    </div>

                    <!-- Continue reading button -->
                    <!--/*@thymesVar id="index" type="java.lang.Integer"*/-->
                    <th:block sec:authorize="!anonymous" th:if="${not chapters.isEmpty()}"
                              th:with="index = ${chapters.indexOf(@historyService.getLastReadChapter(#authentication.principal, @comicRepository.findById(comic.id).orElse(null)))}">
                        <a class="btn btn-accent gap-2"
                           th:href="@{/comic/{id}/chapter/{index}(id=${comic.id}, index=${index})}"
                           th:if="${index >= 0}">
                            <i data-feather="navigation"></i>
                            Continue reading
                        </a>
                        <div class="tooltip"
                             data-tip="You have not read this comic yet"
                             th:if="${index < 0}">
                            <button class="btn btn-accent btn-disabled gap-2" disabled>
                                <i data-feather="navigation"></i>
                                Continue reading
                            </button>
                        </div>
                    </th:block>
                    <div class="tooltip"
                         data-tip="You must be logged in to continue reading"
                         sec:authorize="anonymous">
                        <button class="btn btn-accent btn-disabled gap-2" disabled>
                            <i data-feather="navigation"></i>
                            Continue reading
                        </button>
                    </div>

                    <!-- Add to library button -->
                    <a class="btn btn-error gap-2" sec:authorize="!anonymous"
                       th:href="@{/library/add/{id}(id=${comic.id})}"
                       th:if="${not @libraryService.isInLibrary(#authentication.principal, comic.id)}">
                        <i data-feather="bookmark"></i>
                        Add to library
                    </a>
                    <a class="btn btn-error gap-2" sec:authorize="!anonymous"
                       th:href="@{/library/remove/{id}(id=${comic.id})}"
                       th:if="${@libraryService.isInLibrary(#authentication.principal, comic.id)}">
                        <i data-feather="bookmark"></i>
                        Remove from library
                    </a>
                    <div class="tooltip"
                         data-tip="You must be logged in to add this comic to your library"
                         sec:authorize="anonymous">
                        <button class="btn btn-error btn-disabled gap-2" disabled>
                            <i data-feather="bookmark"></i>
                            Add to library
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Description -->
        <label class="collapse collapse-plus bg-base-300 shadow-xl rounded-box" x-data="{open: true}">
            <input class="peer" type="checkbox" x-model="open"/>
            <span class="collapse-title gap-2">
                    <i data-feather="info"></i>
                    <span class="font-bold">
                        Description
                    </span>
                    <span class="text-sm text-neutral italic"
                          x-text="open ? '(click to collapse)' : '(click to expand)'">
                        (click to expand)
                    </span>
                </span>
            <span class="collapse-content">
                    <span class="leading-relaxed text-justify"
                          th:switch="${#objects.nullSafe(comic.description, '').isEmpty()}">
                        <span class="italic" th:case='true'>
                            No description provided
                        </span>
                        <span th:case="false">
                            [[${comic.description}]]
                        </span>
                    </span>
                </span>
        </label>
        <!-- Chapters -->
        <label class="collapse collapse-plus bg-base-300 shadow-xl rounded-box" x-data="{open: true}">
            <input :checked="open" class="peer" type="checkbox" x-model="open"/>
            <span class="collapse-title gap-2">
                    <i data-feather="list"></i>
                    <span class="font-bold">
                        Chapter
                    </span>
                    <span class="text-sm text-neutral italic"
                          x-text="open ? '(click to collapse)' : '(click to expand)'">
                        (click to expand)
                    </span>
                </span>
            <span class="collapse-content" th:switch="${chapters.isEmpty()}">
                    <a class="btn btn-ghost w-full border-dashed rounded-box border border-dashed border-2"
                       sec:authorize="!anonymous && hasAuthority('chapter.add')"
                       th:href="@{/comic/{id}/chapter/add(id=${comic.id})}">
                        <i data-feather="plus"></i>
                        Add chapter
                    </a>
                    <span class="italic" th:case="true">
                        No chapters available
                    </span>
                    <span class="max-h-[500px] divide-y divide-dashed overflow-y-auto pr-4" th:case="false">
                        <!--/*@thymesVar id="chapter" type="org.yomikaze.persistence.entity.Chapter"*/-->
                        <!--/*@thymesVar id="i" type="java.lang.Integer"*/-->
                        <span class="flex flex-nowrap items-center gap-4 p-2 hover:bg-accent hover:bg-opacity-30"
                              th:each="i : ${#numbers.sequence(0, chapters.size() - 1)}"
                              th:with="chapter = ${chapters.get(i)}"
                              th:x-ref="${chapter.id}">
                            <a class="flex-grow flex flex-nowrap items-center gap-4"
                               th:href="@{/comic/{id}/chapter/{i}(id=${comic.id}, i=${i})}">
                                <span class="flex-grow">
                                    [[${chapters.get(i).title}]]
                                </span>
                                <span th:x-text="| moment('${chapter.id.timestamp.toInstant()}').fromNow() |">[[${chapter.id.timestamp}]]</span>
                            </a>
                            <span class="gap-2">
                                <button class="btn btn-ghost btn-circle btn-sm">
                                    <i data-feather="edit"></i>
                                </button>
                                <button class="btn btn-ghost btn-circle btn-sm">
                                    <i data-feather="delete"></i>
                                </button>
                            </span>
                        </span>
                    </span>
                </span>
        </label>
    </div>
</div>
<!-- Comments -->
<div class="bg-base-100 rounded-box shadow-2xl p-10 mt-8" sec:authorize="!anonymous">
    <form class="flex flex-col gap-2 p-4 mb-4" method="post" x-data="{content:''}"
          th:action="@{/comic/{id}/comment/post(id=${comic.id})}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <div class="form-control">
            <label class="label" for="comment-box">
                <span class="label-text text-xl font-bold">Comment</span>
            </label>
            <textarea class="textarea textarea-bordered" id="comment-box" name="content"
                      placeholder="Write your comment here..." rows="3"
                      x-model="content"></textarea>
        </div>
        <div class="form-control">
            <div class="self-end">
                <button :disabled="content.length === 0" class="btn btn-accent gap-2" type="submit">
                    <i data-feather="send"></i>
                    <span>Post</span>
                </button>
            </div>
        </div>
    </form>
    <!--/*@thymesVar id="comment" type="org.yomikaze.persistence.entity.Comment"*/-->
    <!--/*@thymesVar id="commenter" type="org.yomikaze.persistence.entity.Account"*/-->
    <div class="flex items-center justify-center"
         x-data="{reply: false}"
         th:each="comment : ${@commentService.getComments(comic.id)}">
        <div class="p-4 flex gap-4 w-full" th:id="|comment-${comment.id}|">
            <!--! user avatar -->
            <div class="avatar" th:if="${comment.account.profile.picture != null}">
                <div class="w-10 h-10 rounded-full">
                    <img alt="Profile picture"
                         th:src="${comment.account.profile.picture}"/>
                </div>
            </div>
            <div class="avatar placeholder" th:unless="${comment.account.profile.picture != null}">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-10 h-10">
                    <span class="text-xl" th:text="${comment.account.profile.displayName.substring(0, 1)}"></span>
                </div>
            </div>
            <!--! display name / roles / chapter -->
            <div class="w-full">
                <div class="border rounded-3xl px-4 pt-2 pb-2.5 divide-y gap-2">
                    <div class="flex justify-between">
                        <!-- roles / chapter -->
                        <div class="font-semibold text-sm leading-relaxed gap-x-10 my-2">
                            <span th:text="${comment.account.profile.displayName}">Display name</span>
                            <!-- roles -->
                            <!--/*@thymesVar id="role" type="org.yomikaze.persistence.entity.Role"*/-->
                            <span class="badge badge-primary badge-outline mx-1"
                                  th:each="role : ${comment.account.roles}"
                                  th:text="${role.name}">Role</span>

                            <!-- chapter -->
                            <span class="font-normal"
                                  th:if="${comment.chapter != null}"
                                  th:text="${comment.chapter.title}">Chapter </span>
                        </div>
                        <!--! actions edit / delete / report -->
                        <div class="my-2">
                            <button
                                class="btn btn-xs btn-ghost btn-circle">
                                <i data-feather="flag"></i>
                            </button>
                            <button
                                class="btn btn-xs btn-ghost btn-circle">
                                <i data-feather="edit"></i>
                            </button>
                            <button
                                class="btn btn-xs btn-ghost btn-circle">
                                <i data-feather="trash"></i>
                            </button>
                        </div>
                    </div>

                    <!--! comment content -->
                    <div class="leading-snug md:leading-normal">
                        <p class="py-2" th:text="${comment.content}"></p>
                    </div>
                </div>
                <!--! like / dislike / reply -->
                <div class="button-group">
                    <a class="btn btn-sm gap-2"
                       th:classappend="${comment.likedBy.contains(account) ? 'btn-accent' : 'btn-ghost'}"
                       th:href="@{/comic/{id}/comment/{commentId}/like(id=${comic.id}, commentId=${comment.id})}"
                    >
                        <i data-feather="thumbs-up"></i>
                        <span class="font-semibold" th:text="${comment.likedBy.size()}">0</span>
                    </a>
                    <label @click="reply = !reply" class="btn btn-ghost btn-sm gap-2">
                        <i data-feather="corner-down-right"></i>
                        <span class="font-semibold">Reply</span>
                    </label>
                </div>
                <!--! replies -->
                <!--/*@thymesVar id="reply" type="org.yomikaze.persistence.entity.Comment"*/-->
                <div class="flex items-center justify-center"
                     th:each="reply : ${comment.replies}"
                >
                    <div class="p-4 flex gap-4 w-full" th:id="|comment-${reply.id}|">
                        <!--! user avatar -->
                        <div class="avatar" th:if="${reply.account.profile.picture != null}">
                            <div class="w-10 h-10 rounded-full">
                                <img alt="Profile picture"
                                     th:src="${reply.account.profile.picture}"/>
                            </div>
                        </div>
                        <div class="avatar placeholder" th:unless="${reply.account.profile.picture != null}">
                            <div class="bg-neutral-focus text-neutral-content rounded-full w-10 h-10">
                                <span class="text-xl"
                                      th:text="${reply.account.profile.displayName.substring(0, 1)}"></span>
                            </div>
                        </div>
                        <!--! display name / roles / chapter -->
                        <div class="w-full">
                            <div class="border rounded-3xl px-4 pt-2 pb-2.5 divide-y gap-2">
                                <div class="flex justify-between">
                                    <!-- roles / chapter -->
                                    <div class="font-semibold text-sm leading-relaxed gap-x-10 my-2">
                                        <span th:text="${reply.account.profile.displayName}">Display name</span>
                                        <!-- roles -->
                                        <!--/*@thymesVar id="role" type="org.yomikaze.persistence.entity.Role"*/-->
                                        <span class="badge badge-primary badge-outline mx-1"
                                              th:each="role : ${reply.account.roles}"
                                              th:text="${role.name}">Role</span>

                                        <!-- chapter -->
                                        <span class="font-normal"
                                              th:if="${reply.chapter != null}"
                                              th:text="${reply.chapter.title}">Chapter</span>
                                    </div>
                                    <!--! actions edit / delete / report -->
                                    <!--TODO-->
                                    <div class="my-2">
                                        <button
                                            class="btn btn-xs btn-ghost btn-circle">
                                            <i data-feather="flag"></i>
                                        </button>
                                        <button
                                            class="btn btn-xs btn-ghost btn-circle">
                                            <i data-feather="edit"></i>
                                        </button>
                                        <button
                                            class="btn btn-xs btn-ghost btn-circle">
                                            <i data-feather="trash"></i>
                                        </button>
                                    </div>
                                </div>

                                <!--! reply content -->
                                <div class="leading-snug md:leading-normal">
                                    <p class="py-2" th:text="${reply.content}"></p>
                                </div>
                            </div>
                            <!--! like / dislike / reply -->
                            <div class="button-group">
                                <!--TODO-->
                                <a class="btn btn-sm gap-2"
                                   th:classappend="${reply.likedBy.contains(account) ? 'btn-accent' : 'btn-ghost'}"
                                   th:href="@{/comic/{id}/comment/{commentId}/like(id=${comic.id}, commentId=${reply.id})}"
                                >
                                    <i data-feather="thumbs-up"></i>
                                    <span class="font-semibold" th:text="${reply.likedBy.size()}">0</span>
                                </a>
                                <button @click="reply = !reply" class="btn btn-ghost btn-sm gap-2">
                                    <i data-feather="corner-down-right"></i>
                                    <span class="font-semibold">Reply</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--! reply form -->
                <form class="flex flex-col gap-2 p-4" method="post"
                      th:action="@{/comic/{id}/comment/{commentId}/reply(id=${comic.id}, commentId=${comment.id})}"
                      x-data="{content:''}"
                      x-show="reply"
                      x-transition:enter="transition ease-out duration-300"
                      x-transition:enter-end="opacity-100 transform scale-100"
                      x-transition:enter-start="opacity-0 transform scale-95"
                      x-transition:leave="transition ease-in duration-300"
                      x-transition:leave-end="opacity-0 transform scale-95"
                      x-transition:leave-start="opacity-100 transform scale-100">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <div class="form-control">
                        <label class="label" for="reply-box" th:for="| reply-box-${comment.id} |">
                            <span class="label-text text-xl font-bold">Reply</span>
                        </label>
                        <textarea class="textarea textarea-bordered" id="reply-box" name="content"
                                  placeholder="Write your comment here..."
                                  rows="3" th:id="| reply-box-${comment.id} |"
                                  x-model="content"></textarea>
                    </div>
                    <div class="form-control">
                        <div class="self-end">
                            <button :disabled="content.length === 0" class="btn btn-accent gap-2" type="submit">
                                <i data-feather="send"></i>
                                <span>Reply</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<form class="hidden" id="delete-comic-form" method="post"
      th:action="@{/comic/{id}/delete(id=${comic.id})}"
      th:method="delete">
</form>
<input class="modal-toggle" id="delete-comic-modal" type="checkbox"/>
<label class="modal cursor-pointer" for="delete-comic-modal">
    <label class="modal-box relative">
        <h3 class="text-xl font-bold">Delete comic</h3>
        <p class="p-4">Are you sure you want to delete this comic?</p>
        <div class="modal-action">
            <label class="btn btn-ghost" for="delete-comic-modal">Cancel</label>
            <button class="btn btn-error" form="delete-comic-form" type="submit">Delete</button>
        </div>
    </label>
</label>

<form class="hidden" id="report-comic-form" method="post"
      th:action="@{/comic/{id}/report(id=${comic.id})}">
</form>

<input class="modal-toggle" id="report-comic-modal" type="checkbox"/>
<label class="modal cursor-pointer" for="report-comic-modal">
    <label class="modal-box relative">
        <h3 class="text-xl font-bold">Report comic</h3>
        <label class="label" for="reason">
            <span class="label-text">Reason</span>
        </label>
        <textarea class="w-full textarea textarea-bordered" id="reason" name="reason" placeholder="Reason"></textarea>
        <div class="modal-action">
            <label class="btn btn-ghost" for="report-comic-modal">Cancel</label>
            <button class="btn btn-error" form="report-comic-form" type="submit">Report</button>
        </div>
    </label>
</label>
</body>
