<!DOCTYPE html>
<html lang="en" th:insert="layouts/default" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title th:fragment="page-title">comic::detail</title>
</head>
<body class="flex flex-col gap-8" th:fragment="content">
<div class="bg-base-100 rounded-box shadow-2xl p-10">
    <div class="flex flex-col gap-8 flex-wrap justify-items-center">
        <div class="flex flex-row flex-wrap md:flex-nowrap gap-8">
            <!-- Thumbnail -->
            <div class="shrink-0 flex-grow-0 mx-auto">
                <img
                    alt="thumbnail"
                    class="w-[190px] h-[280px] object-cover object-center rounded-box shadow-2xl"
                    src="https://via.placeholder.com/190x280?text=No+thumbnail"
                    th:src="${#objects.nullSafe(comic.thumbnail, 'https://via.placeholder.com/190x280?text=No+thumbnail')}"
                />
            </div>
            <!-- Detail -->
            <div class="flex-grow flex flex-col gap-4">
                <div class="flex gap-2">
                    <div class="flex-grow">
                        <div class="flex flex-col">
                            <div class="indicator">
                                    <span class="indicator-item badge badge-secondary badge-sm"
                                          th:if="${comic.new}">New</span>
                                <h2 class="text-3xl title-font font-medium" th:text="${comic.name}">
                                    ${comic.name}</h2>
                            </div>
                            <span class="text-sm text-neutral italic"
                                  th:text="${#strings.listJoin(comic.aliases, '; ')}">
                                        ${comic.aliases}
                                    </span>
                        </div>
                    </div>
                    <div class="flex-shrink">
                        <div class="a2a_kit a2a_kit_size_24 a2a_default_style"
                             data-a2a-icon-color="transparent,#55B4D4">
                            <a class="a2a_button_copy_link"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_reddit"></a>
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                    </div>
                    <div class="flex-shrink" sec:authorize="!anonymous">
                        <div class="dropdown dropdown-end">
                            <label class="btn btn-ghost btn-sm btn-circle" tabindex="0">
                                <i data-feather="more-vertical"></i>
                            </label>
                            <ul class="dropdown-content menu menu-compact p-2 shadow bg-base-300 rounded-box w-52"
                                tabindex="0">
                                <li class="dropdown-item gap-2">
                                    <a href="#report">
                                        <i data-feather="alert-triangle"></i>
                                        Report
                                    </a>
                                </li>
                                <li class="dropdown-item gap-2"
                                    sec:authorize="hasAuthority('comic.edit')"
                                    th:if="${comic.uploader.id == #authentication.principal.id}">
                                    <a
                                        href="/comic/edit/"
                                        th:href="@{/comic/{id}/edit(id=${comic.id})}"
                                    >
                                        <i data-feather="edit"></i>
                                        Edit
                                    </a>
                                </li>
                                <li class="dropdown-item gap-2"
                                    sec:authorize="hasAuthority('comic.delete')"
                                    th:if="${comic.uploader.id == #authentication.principal.id}">
                                    <a
                                        href="/comic/delete/"
                                        th:href="@{/comic/{id}/delete(id=${comic.id})}"
                                    >
                                        <i data-feather="trash"></i>
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
                    <dl class="grid grid-cols-5 gap-x-4 gap-y-2 flex-grow-0">
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="user"></i>
                            Authors
                        </dt>
                        <dd class="col-span-3">
                            <a th:each="author : ${comic.authors}"
                               th:href="@{/search/(author=${author})}"
                               th:text="${author}">${author}</a>
                            <th:block th:if="${comic.authors.isEmpty()}">Unknown</th:block>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="upload-cloud"></i>
                            Uploader
                        </dt>
                        <dd class="col-span-3">
                            <a
                                class="link link-accent"
                                href="/profile/{id}"
                                th:href="@{/profile/{id}(id=${comic.uploader.id})}"
                                th:text="${comic.uploader.profile.displayName}"
                            >
                                ${comic.uploader.profile.displayName}
                            </a>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="activity"></i>
                            Status
                        </dt>
                        <dd class="col-span-3">
                            <span class="badge badge-accent" th:if="${comic.finished == null}">Ongoing</span>
                            <span class="badge badge-success" th:if="${comic.finished != null}">Completed</span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="clock"></i>
                            Last updated
                        </dt>
                        <dd class="col-span-3">
                            <span th:text="${comic.updatedAt}"
                                  th:x-text="| moment('${comic.updatedAt}').fromNow() |">
                                [[${comic.updatedAt}]]
                            </span>
                        </dd>
                    </dl>
                    <dl class="grid grid-cols-5 gap-x-4 gap-y-2 flex-grow-0">
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="eye"></i>
                            Views
                        </dt>
                        <dd class="col-span-3">
                                    <span th:text="${comic.views}"
                                          th:x-text="| formatNumber(${comic.inLibraries}) |">
                                        [[${comic.views}]]
                                    </span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="bookmark"></i>
                            In libraries
                        </dt>
                        <dd class="col-span-3">
                                <span th:text="${comic.inLibraries}"
                                      th:x-text="| formatNumber(${comic.inLibraries}) |">
                                    [[${comic.inLibraries}]]
                                </span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="calendar"></i>
                            Published
                        </dt>
                        <dd class="col-span-3" th:switch="${comic.published != null}">
                            <span th:case="false">Unknown</span>
                            <span th:case="true"
                                  th:text="${comic.published}"
                                  th:x-text="| moment('${comic.published}').fromNow() |">
                                        [[${comic.published}]]
                                    </span>
                        </dd>
                        <dt class="col-span-2 gap-2 font-bold">
                            <i data-feather="calendar"></i>
                            Finished
                        </dt>
                        <dd class="col-span-3" th:switch="${comic.finished != null}">
                            <span th:case="false">Unknown</span>
                            <span th:case="true"
                                  th:text="${comic.finished}"
                                  th:x-text="| moment('${comic.finished}').fromNow() |">
                                  [[${comic.finished}]]
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="grid grid-cols-5 gap-2">
                    <div class="col-span-1">
                                <span class="font-bold gap-2">
                                    <i data-feather="tag"></i>
                                    Genres
                                </span>
                    </div>
                    <div class="col-span-4 grow flex flex-wrap flex-row gap-2">
                        <div class="tooltip"
                             th:data-tip="${genre.description ?: genre.name}"
                             th:each="genre : ${comic.genres}">
                            <a class="badge badge-outline badge-accent p-2"
                               th:href="@{/comic/search/(genre=${genre.id})}"
                               th:text="${genre.name}">
                                [[${genre}]]
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row flex-wrap gap-2">
                    <a class="btn btn-primary gap-2" th:if="${not chapters.empty}">
                        <i data-feather="book-open"></i>
                        Read
                    </a>
                    <div class="tooltip"
                         data-tip="Comic currently has no chapters"
                         th:if="${chapters.empty}">
                        <button class="btn btn-primary btn-disabled gap-2" disabled>
                            <i data-feather="book-open"></i>
                            Read
                        </button>
                    </div>
                    <a class="btn btn-secondary gap-2">
                        <i data-feather="fast-forward"></i>
                        Read latest
                    </a>
                    <a class="btn btn-accent gap-2" sec:authorize="!anonymous">
                        <i data-feather="navigation"></i>
                        Continue reading
                    </a>
                    <div class="tooltip"
                         data-tip="You must be logged in to continue reading"
                         sec:authorize="anonymous">
                        <button class="btn btn-accent btn-disabled gap-2" disabled>
                            <i data-feather="navigation"></i>
                            Continue reading
                        </button>
                    </div>
                    <a class="btn btn-error gap-2"
                       sec:authorize="!anonymous">
                        <i data-feather="bookmark"></i>
                        Add to library
                    </a>
                    <div class="tooltip"
                         data-tip="You must be logged in to add this comic to your library"
                         sec:authorize="anonymous">
                        <button class="btn btn-error btn-disabled gap-2" disabled>
                            <i data-feather="bookmark"></i>
                            Add to library
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Description -->
        <label class="collapse collapse-plus bg-base-300 shadow-xl rounded-box" x-data="{open: true}">
            <input class="peer" type="checkbox" x-model="open"/>
            <span class="collapse-title gap-2">
                    <i data-feather="info"></i>
                    <span class="font-bold">
                        Description
                    </span>
                    <span class="text-sm text-neutral italic"
                          x-text="open ? '(click to collapse)' : '(click to expand)'">
                        (click to expand)
                    </span>
                </span>
            <span class="collapse-content">
                    <span class="leading-relaxed text-justify"
                          th:switch="${#objects.nullSafe(comic.description, '').isEmpty()}">
                        <span class="italic" th:case='true'>
                            No description provided
                        </span>
                        <span th:case="false">
                            [[${comic.description}]]
                        </span>
                    </span>
                </span>
        </label>
        <!-- Chapters -->
        <label class="collapse collapse-plus bg-base-300 shadow-xl rounded-box" x-data="{open: true}">
            <input :checked="open" class="peer" type="checkbox" x-model="open"/>
            <span class="collapse-title gap-2">
                    <i data-feather="list"></i>
                    <span class="font-bold">
                        Chapter
                    </span>
                    <span class="text-sm text-neutral italic"
                          x-text="open ? '(click to collapse)' : '(click to expand)'">
                        (click to expand)
                    </span>
                </span>
            <span class="collapse-content" th:switch="${chapters.isEmpty()}">
                    <a class="btn btn-ghost w-full border-dashed rounded-box border border-dashed border-2"
                       sec:authorize="!anonymous && hasAuthority('chapter.add')"
                       th:href="@{/comic/{id}/chapter/add(id=${comic.id})}">
                        <i data-feather="plus"></i>
                        Add chapter
                    </a>
                    <span class="italic" th:case="true">
                        No chapters available
                    </span>
                    <span class="max-h-[500px] divide-y divide-dashed overflow-y-auto pr-4" th:case="false">
                        <!--/*@thymesVar id="chapter" type="org.yomikaze.persistence.entity.Chapter"*/-->
                        <!--/*@thymesVar id="i" type="java.lang.Integer"*/-->
                        <span class="flex flex-nowrap items-center gap-4 p-2 hover:bg-accent hover:bg-opacity-30"
                              th:each="i : ${#numbers.sequence(0, chapters.size() - 1)}"
                              th:with="chapter = ${chapters.get(i)}"
                              th:x-ref="${chapter.id}">
                            <a class="flex-grow flex flex-nowrap items-center gap-4"
                               th:href="@{/comic/{id}/chapter/{i}(id=${comic.id}, i=${i})}">
                                <span class="flex-grow">
                                    [[${chapters.get(i).title}]]
                                </span>
                                <span th:x-text="| moment('${chapter.id.timestamp.toInstant()}').fromNow() |">[[${chapter.id.timestamp}]]</span>
                            </a>
                            <span class="gap-2">
                                <button class="btn btn-ghost btn-circle btn-sm"
                                        th:@click="| toggleReadStatus('${chapter.id}') |">
                                    <i data-feather="eye"></i>
                                </button>
                                <button class="btn btn-ghost btn-circle btn-sm">
                                    <i data-feather="edit"></i>
                                </button>
                                <button class="btn btn-ghost btn-circle btn-sm">
                                    <i data-feather="delete"></i>
                                </button>
                            </span>
                        </span>
                    </span>
                </span>
        </label>
    </div>
    <script th:inline="javascript">
        const API_URL = /*[[@{/history/toggle}]]*/ '/history/toggle';

        async function toggleReadStatus(chapterId) {
            let response = await fetch(API_URL + '/' + chapterId, {credentials: 'include'});
            let status = response.status;
            switch (status) {
                case 200:
                    console.log('Chapter marked as read');
                    break;
                case 204:
                    console.log('Chapter marked as unread');
                    break;
                default:
                    console.log('Unknown status code: ' + status);
            }
        }
    </script>
</div>
<div class="bg-base-100 rounded-box shadow-2xl p-10 mt-8">
    <form class="flex flex-col gap-2 p-4 mb-4" th:action="@{/comic/{id}/comment/post(id=${comic.id})}">
        <div class="form-control">
            <label class="label" for="comment-box">
                <span class="label-text">Comment</span>
            </label>
            <textarea class="textarea textarea-bordered" id="comment-box" name="comment"
                      placeholder="Write your comment here..." rows="3"></textarea>
        </div>
        <div class="form-control">
            <div class="self-end">
                <button class="btn btn-accent gap-2" type="submit">
                    <i data-feather="send"></i>
                    <span>Post</span>
                </button>
            </div>
        </div>
    </form>
    <div class="flex items-center justify-center">
        <div class="p-4 flex max-w-7xl">
            <!--! user avatar -->
            <div class="avatar mx-4">
                <div class="w-14 h-14 rounded-full">
                    <img alt="avatar" class="h-8 w-8" src="https://placeimg.com/192/192/people"/>
                </div>
            </div>

            <!--! display name / role / chapter -->
            <div>
                <div class="border rounded-3xl px-4 pt-2 pb-2.5 divide-y gap-2">
                    <div class="flex justify-between">
                        <div class="font-semibold text-sm leading-relaxed gap-x-10 my-2">Jon Doe
                            <span class="badge badge-primary badge-outline mx-1">Author</span>
                            <span class="font-normal">Chapter 1</span>
                        </div>
                        <!--! actions edit / delete / report -->
                        <div class="my-2">
                            <button
                                class="btn btn-xs btn-ghost btn-circle">
                                <i data-feather="flag"></i>
                            </button>
                            <button
                                class="btn btn-xs btn-ghost btn-circle">
                                <i data-feather="edit"></i>
                            </button>
                            <button
                                class="btn btn-xs btn-ghost btn-circle">
                                <i data-feather="trash"></i>
                            </button>
                        </div>
                    </div>

                    <!--! comment content -->
                    <div class="leading-snug md:leading-normal">
                        <p class="py-2">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <!--! like / dislike / reply -->
                <div class="button-group">
                    <label class="btn btn-ghost btn-sm gap-2">
                        <i data-feather="thumbs-up"></i>
                        <span class="font-semibold">0</span>
                    </label>
                    <label class="btn btn-ghost btn-sm gap-2">
                        <i data-feather="corner-down-right"></i>
                        <span class="font-semibold">Reply</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
