<!DOCTYPE html>
<html lang="en" th:insert="layouts/dashboard" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title th:fragment="page-title">comic::new</title>
</head>
<body>
<!--/*@thymesVar id="comic" type="org.yomikaze.web.dto.comic.EditComicForm"*/-->
<div class="min-h-[calc(100vh-10rem)]" th:fragment="content">
    <div class="card shadow-2xl bg-base-300 mx-auto my-10 w-10/12 rounded-box">
        <form class="card-body gap-4" enctype="multipart/form-data" method="POST"
              th:action="@{/comic/{id}/edit(id=${comic.id})}"
              th:object="${comic}">
            <h2 class="card-title">Edit comic</h2>
            <div th:if="${#fields.hasAnyErrors()}">
                <div class="alert alert-error">
                    <ul>
                        <li th:each="error : ${#fields.errors()}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
            <fieldset>
                <legend class="text-center">Basic information</legend>
                <div class="flex flex-row w-full justify-items-center gap-4">
                    <label class="shrink flex flex-col" x-data="{files: []}">
                        <div class="label">
                            <span class="label-text">
                                Thumbnail
                                <span class="tooltip" data-tip="Click to change thumbnail">
                                    <i data-feather="info"></i>
                                </span>
                            </span>
                        </div>
                        <span class="self-center p-3 border border-2 border-dashed border-gray-500 rounded-box">
                            <img :src="files[0] ? URL.createObjectURL(files[0]) : $el.dataset.current"
                                 alt="thumbnail"
                                 class="w-[190px] h-[280px] object-cover object-center rounded-box shadow-2xl cursor-pointer"
                                 th:data-current="*{thumbnailUri}"
                            />
                        </span>
                        <input
                            @change="files = $event.target.files"
                            accept="image/jpeg,image/jpg,image/png,image/webp"
                            class="file-input file-input-bordered w-full hidden"
                            id="thumbnail"
                            name="thumbnail"
                            type="file"
                            x-ref="thumbnail"
                        />
                    </label>

                    <div class="grow">
                        <div class="form-control">
                            <label class="label" for="name">
                                <span class="label-text">
                                    Comic name
                                    <span class="text-error">*</span>
                                </span>
                            </label>
                            <input
                                class="input input-bordered"
                                id="name" placeholder="Comic name" required
                                th:errorclass="input-error" th:field="*{name}"
                                type="text"
                            />
                            <span class="label text-error"
                                  th:if="${#fields.hasErrors('name')}"
                                  th:text="${#messages.msgOrNull(#fields.errors('name'))}">
                                Comic name is required.
                            </span>
                        </div>
                        <div class="form-control">
                            <label class="label" for="authors">
                                <span class="label-text">
                                    Authors
                                    <span class="text-error">*</span>
                                </span>
                            </label>
                            <textarea class="input h-24 input-bordered"
                                      id="authors"
                                      placeholder="Authors, one per line"
                                      th:errorclass="input-error" th:field="*{authors}">
                            </textarea>
                            <span class="label text-error"
                                  th:if="${#fields.hasErrors('name')}"
                                  th:text="${#messages.msgOrNull(#fields.errors('name'))}">
                                Error in authors.
                            </span>
                        </div>
                        <div class="form-control">
                            <label class="label" for="aliases">
                                <span class="label-text">Comic aliases</span>
                            </label>
                            <textarea class="textarea h-24 textarea-bordered"
                                      id="aliases"
                                      placeholder="Comic aliases, one per line"
                                      th:errorclass="input-error" th:field="*{aliases}">
                            </textarea>
                            <span class="label text-error"
                                  th:if="${#fields.hasErrors('aliases')}"
                                  th:text="${#messages.msgOrNull(#fields.errors('aliases'))}">
                                Error in aliases.
                        </span>
                        </div>
                        <div class="form-control">
                            <label class="label" for="description">
                                <span class="label-text">Comic description</span>
                            </label>
                            <textarea class="textarea h-24 textarea-bordered"
                                      id="description"
                                      placeholder="Write description here"
                                      th:errorclass="input-error" th:field="*{description}">
                            </textarea>
                            <span class="label text-error"
                                  th:if="${#fields.hasErrors('description')}"
                                  th:text="${#messages.msgOrNull(#fields.errors('description'))}">
                                            Error in description.
                            </span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr/>
            <fieldset>
                <legend class="text-center">Genres</legend>
                <div class=" grid grid-cols-4 gap-4">
                    <div class="inline"
                         th:each="genre : ${@genreRepository.findAll()}"
                         th:object="${genre}">
                        <label class="label cursor-pointer gap-2" for="genre" th:for="'genre-' + *{id}">
                            <input class="toggle shrink"
                                   id="genre"
                                   th:field="${comic.genres}"
                                   th:id="'genre-' + *{id}"
                                   th:value="*{id}"
                                   type="checkbox"/>
                            <span class="label-text grow" th:text="*{name}"></span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <hr/>
            <fieldset>
                <legend class="text-center">Additional Information</legend>
                <div class="flex flex-row justify-center gap-4">
                    <div class="form-control">
                        <label class="label" for="published">
                            <span class="label-text">Publish date</span>
                        </label>
                        <input
                            class="input input-bordered"
                            id="published"
                            th:errorclass="input-error"
                            th:field="*{published}" type="date"/>
                        <span class="label text-error"
                              th:if="${#fields.hasErrors('published')}"
                              th:text="${#messages.msgOrNull(#fields.errors('published'))}">
                                    Error in publish date.
                                </span>
                    </div>
                    <div class="form-control">
                        <label class="label" for="finished">
                            <span class="label-text">Finish date</span>
                        </label>
                        <input
                            class="input input-bordered"
                            id="finished"
                            th:errorclass="input-error"
                            th:field="*{finished}" type="date"/>
                        <span class="label text-error"
                              th:if="${#fields.hasErrors('finished')}"
                              th:text="${#messages.msgOrNull(#fields.errors('finished'))}">
                                    Error in finish date.
                                </span>
                    </div>
                </div>
            </fieldset>
            <hr/>
            <label class="collapse collapse-plus bg-base-300 shadow-xl rounded-box" x-data="{open: true}">
                <input :checked="open" class="peer" type="checkbox" x-model="open"/>
                <span class="collapse-title gap-2">
                    <i data-feather="list"></i>
                    <span class="font-bold">
                        Chapter
                    </span>
                    <span class="text-sm text-neutral italic"
                          x-text="open ? '(click to collapse)' : '(click to expand)'">
                        (click to expand)
                    </span>
                </span>
                <span class="collapse-content" th:switch="${comic.chapters.isEmpty()}">
                    <a class="btn btn-ghost w-full border-dashed rounded-box border border-dashed border-2"
                       sec:authorize="!anonymous && hasAuthority('chapter.add')"
                       th:href="@{/comic/{id}/chapter/add(id=${comic.id})}">
                        <i data-feather="plus"></i>
                        Add chapter
                    </a>
                    <span class="italic" th:case="true">
                        No chapters available
                    </span>
                    <span class="max-h-[500px] divide-y divide-dashed overflow-y-auto pr-4"
                          id="chapters" th:case="false"
                          x-init="$store.data.chapters = Array.from($el.children).map(e => e.id)"
                    >
                        <!--/*@thymesVar id="chapter" type="org.yomikaze.persistence.entity.Chapter"*/-->
                        <!--/*@thymesVar id="i" type="java.lang.Integer"*/-->
                        <span class="flex flex-nowrap items-center gap-4 p-2 hover:bg-accent hover:bg-opacity-30"
                              th:each="i : ${#numbers.sequence(0, comic.chapterList.size() - 1)}"
                              th:id="|${chapter.id}|"
                              th:with="chapter = ${@chapterRepository.findById(comic.chapterList.get(i).id).orElse(null)}"
                              th:x-ref="${chapter.id}">
                            <span class="handle">
                                <button class="btn btn-circle btn-ghost btn-sm" type="button">
                                    <i data-feather="menu"></i>
                                </button>
                            </span>
                            <a class="flex-grow flex flex-nowrap items-center gap-4"
                               th:href="@{/comic/{id}/chapter/{i}(id=${comic.id}, i=${i})}">
                                <span class="flex-grow">
                                    [[${chapter.title}]]
                                </span>
                                <span th:x-text="| moment('${chapter.id.timestamp.toInstant()}').fromNow() |">[[${chapter.id.timestamp}]]</span>
                            </a>
                            <span class="gap-2">
                                <button class="btn btn-ghost btn-circle btn-sm" type="button">
                                    <i data-feather="edit"></i>
                                </button>
                                <button class="btn btn-ghost btn-circle btn-sm" type="button">
                                    <i data-feather="delete"></i>
                                </button>
                            </span>
                        </span>
                    </span>
                </span>
                <input :value="$store.data.chapters.join('\n')" name="chapters" th:field="*{chapters}" type="hidden"/>
                <script src="/asset/js/Sortable.min.js" th:src="@{/asset/js/Sortable.min.js}"></script>
                <script>
                    document.addEventListener("alpine:init", () => {
                        Alpine.store("data", {
                            chapters: []
                        });
                    });
                    document.addEventListener("DOMContentLoaded", () => {
                        let chapters = document.getElementById('chapters');
                        Sortable.create(chapters, {
                            animation: 150,
                            scrollSensitivity: 300,
                            scrollSpeed: 10,
                            scroll: true,
                            store: {
                                set: function (sortable) {
                                    let chapters = sortable.el.children;
                                    let chapterIds = [];
                                    for (let i = 0; i < chapters.length; i++) {
                                        chapterIds.push(chapters[i].id);
                                    }
                                    Alpine.store('data').chapters = chapterIds;
                                }
                            }
                        });
                    });
                </script>
            </label>
            <hr/>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>
