<!DOCTYPE html>
<html lang="en" th:insert="layouts/dashboard">


<head>
    <title th:fragment="page-title">change password</title>

</head>

<body th:fragment="content">
<!-- page -->
<main class="min-h-screen w-full " x-data="layout">

    <div class="drawer">

        <div class="drawer-content">
            <section class="relative block">
                <div class="container mx-auto max-w-xl px-4">
                    <div class="relative flex flex-col min-w-0 w-full shadow-xl rounded-lg mb-2 mt-4 pb-8">
                        <div class="flex  justify-center">
                            <div class="tabs tabs-boxed">
                                <a th:href="@{/profile/{id}/edit(id=${account.id})}" class="tab">Edit profile</a>
                                <a class="tab tab-active">Change password</a>
                            </div>
                        </div>
                        <div class="p-10 ">
                            <!--/*@thymesVar id="changePasswordForm" type="org.yomikaze.web.dto.form.account.ChangePasswordForm"*/-->
                            <form class="text-center mt-12" method="POST"
                                  th:href="@{/account/password/{id}/change(id=${account.id})}"
                                  th:object="${changePasswordForm}">


                                <div class="form-control">
                                    <label class="label" for="current-password">
                                        <span class="label-text">Current password</span>
                                    </label>
                                    <input class="input input-bordered" id="current-password"
                                           placeholder="Enter your old password"
                                           th:errorclass="input-error" th:field="*{oldPassword}"
                                           th:value="*{oldPassword}"
                                           type="password"
                                    />
                                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                                    <span class="label text-error"
                                          th:each="error : ${#fields.errors('oldPassword')}"
                                          th:if="${#fields.hasErrors('oldPassword')}"
                                          th:text="${#objects.nullSafe(#messages.msgOrNull(error), error)}">
                                          </span>
                                </div>
                                <div class="form-control">
                                    <label class="label" for="new-password">
                                        <span class="label-text">New password</span>
                                    </label>
                                    <input class="input input-bordered" id="new-password"
                                           placeholder="Enter your new password"
                                           th:errorclass="input-error" th:field="*{newPassword}"
                                           th:value="*{newPassword}"
                                           type="password">
                                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                                    <span class="label text-error"
                                          th:each="error : ${#fields.errors('newPassword')}"
                                          th:if="${#fields.hasErrors('newPassowrd')}"
                                          th:text="${#objects.nullSafe(#messages.msgOrNull(error), error)}">
                                      </span>
                                </div>
                                <div class="form-control">
                                    <label class="label" for="confirm-password">
                                        <span class="label-text">Confirm password</span>
                                    </label>
                                    <input class="input input-bordered" id="confirm-password"
                                           placeholder="Enter confirm your new password"
                                           th:errorclass="input-error" th:field="*{newPasswordConfirmation}"
                                           th:value="*{newPasswordConfirmation}"
                                           type="password">
                                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                                    <span class="label text-error"
                                          th:each="error : ${#fields.errors('newPasswordConfirmation')}"
                                          th:if="${#fields.hasErrors('newPasswordConfirmation')}"
                                          th:text="${#objects.nullSafe(#messages.msgOrNull(error), error)}">
                                      </span>
                                </div>
                                <div class="form-control  mt-4">
                                    <button class="btn btn-active btn-accent" type="submit">Save</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>

<!-- script of profile -->


<!-- footer -->

</body>

</html>
