<!DOCTYPE html>
<html lang="en" th:insert="layouts/default">
<head>
    <title th:fragment="page-title">account::password::reset</title>
</head>
<body th:fragment="content">
<div class="hero text-base-content min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left lg:px-16">
            <h1 class="text-5xl font-bold">Reset password</h1>
            <p class="py-6">
                Reset password for your account.
            </p>
        </div>
        <!--/*@thymesVar id="resetPasswordForm" type="org.yomikaze.web.dto.form.account.ResetPasswordForm"*/-->
        <form
            @submit="submit = true"
            class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-300" method="POST"
            th:action="@{/account/password/reset}"
            th:object="${resetPasswordForm}"
            x-data="{submit: false}">
            <div
                class="alert alert-error shadow-lg"
                role="alert"
                th:each="error : ${#fields.globalErrors()}"
                th:if="${#fields.hasGlobalErrors()}"
                x-data="{el: null}"
                x-init="el = $el"
            >

                <i aria-hidden="true" data-feather="alert-circle"></i>
                <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                <span class="text-sm" th:text="${error}"></span>
                <div class="flex-none">
                    <button @click="el.remove()" aria-label="dismiss" class="btn btn-sm btn-ghost"
                            type="button">
                        <i aria-hidden="true" data-feather="x"></i>
                    </button>
                </div>

            </div>
            <div class="card-body">
                <div class="form-control">
                    <label class="label" for="token">
                        <span class="label-text">Token</span>
                    </label>
                    <textarea class="textarea textarea-bordered resize-none" id="token" placeholder="Paste token here"
                              required
                              rows="3"
                              th:errorclass="textarea-error" th:field="${resetPasswordForm.token}" type="text">
                    </textarea>
                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                    <span class="label text-sm text-error"
                          th:each="error : ${#fields.errors('token')}"
                          th:if="${#fields.hasErrors('token')}"
                          th:text="${#objects.nullSafe(#messages.msgOrNull(error), error)}"
                    >
                        Invalid token
                    </span>
                </div>
                <div class="form-control" id="password-group">
                    <label class="label" for="password">
                        <span class="label-text">Password</span>
                    </label>
                    <input class="input input-bordered" id="password" placeholder="Password" required
                           th:errorclass="input-error" th:field="${resetPasswordForm.password}"
                           th:value="${resetPasswordForm.password}" type="password"
                    />
                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                    <span class="label text-error"
                          role="alert"
                          th:each="error : ${#fields.errors('password')}"
                          th:if="${#fields.hasErrors('password')}"
                          th:text="${#objects.nullSafe(#messages.msgOrNull(error), error)}">
                        Password must be at least 8 characters long and contain at least one digit.
                    </span>
                </div>
                <div class="form-control" id="password-confirmation-group">
                    <label class="label" for="password-confirmation">
                        <span class="label-text">Confirm Password</span>
                    </label>
                    <input class="input input-bordered" id="password-confirmation" placeholder="Confirm Password"
                           required
                           th:classappend="${#fields.hasErrors('passwordConfirmationValid') ? 'input-error' : ''}"
                           th:errorclass="input-error" th:field="${resetPasswordForm.passwordConfirmation}"
                           type="password"
                    />
                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                    <span class="label text-error"
                          role="alert"
                          th:each="error : ${#fields.errors('passwordConfirmation')}"
                          th:if="${#fields.hasErrors('passwordConfirmation')}"
                          th:text="${#objects.nullSafe(#messages.msgOrNull(error), error)}">
                        Invalid password confirmation.
                    </span>
                    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                    <span class="label text-error"
                          role="alert"
                          th:each="error : ${#fields.errors('passwordConfirmationValid')}"
                          th:if="${#fields.hasErrors('passwordConfirmationValid')}"
                          th:text="${#objects.nullSafe(#messages.msgOrNull(error), error)}">
                        Passwords do not match.
                    </span>
                </div>
                <div class="form-control">
                    <button :class="{loading: submit}" :disabled="submit" class="btn btn-accent">
                        <span x-text="submit ? 'Saving...' : 'Save'">Save</span>
                    </button>
                </div>

                <div class="w-full text-sm py-2 gap-2">
                    <p class="float-right">
                        Remembered your password?
                        <a class="link link-accent" href="/sign-in" th:href="@{/sign-in}">
                            Sign In
                        </a>
                    </p>
                    <p class="float-right">
                        Don't have an account?
                        <a class="link link-accent" href="/sign-up" th:href="@{/sign-up}">
                            Sign Up
                        </a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
