<footer class="footer footer-center p-10 bg-base-100 text-primary-content" th:fragment="footer">
    <a class="flex items-center gap-4 text-3xl">
        <img alt="logo" class="w-16 h-16" src="/" th:src="@{/asset/logo.svg}"/>
        Yomikaze
    </a>
    <div class="my-4 grid grid-flow-col gap-4 font-bold">
        <a class="link link-hover" href="#TODO" rel="noopener noreferrer" target="_blank">Contact</a>
        <a class="link link-hover" href="https://gitlab.com/zero-matter/yomikaze" rel="noopener noreferrer"
           target="_blank">Source code</a>
    </div>
    <p class="text-center text-sm">
        Made with 💙 by
        <a class="link" href="https://gitlab.com/zero-matter" rel="noopener noreferrer" target="_blank">
            Zero Matter
        </a>
    </p>
    <p>Copyright ©
        <th:block th:utext="${#dates.year(#dates.createNow())}"></th:block>
        yomikaze
    </p>
</footer>

