<header th:fragment="header"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:th="http://www.thymeleaf.org"
>
    <div class="navbar bg-base-100">
        <div class="navbar-start gap-4">
            <a class="btn btn-ghost gap-2 text-xl text-white hover:bg-transparent" th:href="@{/}">
                <img alt="logo" class="w-12 h-12" src="#" th:src="@{/asset/image/logo.svg}"/>
                <div class="font-title text-primary inline-flex text-lg transition-all duration-200 md:text-3xl">
                    <span class="text-base-content lowercase">yomi</span>
                    <span class="lowercase">kaze</span>
                </div>
            </a>
            <button @click="theme_id = (theme_id + 1) % 3" class="btn btn-ghost btn-circle text-base-content">
                <i x-data="{icons: ['sun', 'sunset', 'moon']}" :data-feather="icons[theme_id]" aria-hidden="true"></i>
            </button>
        </div>
        <div class="navbar-center">
            <div class="form-control">
                <label class="input-group">
                    <input class="input input-bordered input-accent" placeholder="Search" type="text"/>
                    <button
                        class="btn btn-square btn-accent btn-outline stroke-accent hover:stroke-white dark:hover:stroke-black">
                        <i data-feather="search"></i>
                    </button>
                </label>
            </div>
        </div>
        <div class="navbar-end">
            <th:block sec:authorize="!isAnonymous()" th:object="${#authentication.principal}">
                <div class="dropdown">
                    <div class="btn btn-ghost m-1 gap-2" tabindex="0">
                        <div class="avatar" th:if="*{profile.picture != null}">
                            <div class="w-8 h-8 rounded-full">
                                <img alt="Profile picture" th:if="*{profile.picture != null}"
                                     th:src="*{profile.picture}">
                            </div>
                        </div>
                        <div class="avatar placeholder" th:if="*{profile.picture == null}">
                            <div class="bg-neutral-focus text-neutral-content rounded-full w-8">
                                <span class="text-xl" th:text="*{profile.displayName.substring(0, 1)}"></span>
                            </div>
                        </div>
                        <span class="hidden md:block" th:text="*{profile.displayName}">Name</span>
                    </div>
                    <ul class="dropdown-content menu menu-compact p-2 shadow bg-base-100 rounded-box w-52" tabindex="0">
                        <li>
                            <a>
                                <i data-feather="user" aria-hidden="true"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a>
                                <i data-feather="bookmark" aria-hidden="true"></i>
                                Library
                            </a>
                        </li>
                        <li>
                            <a>
                                <i data-feather="rotate-ccw" aria-hidden="true"></i>
                                History
                            </a>
                        </li>
                        <li>
                            <a>
                                <i data-feather="settings" aria-hidden="true"></i>
                                Settings
                            </a>
                        </li>
                        <li class="menu-title">
                            <span>
                                <hr/>
                            </span>
                        </li>
                        <li>
                            <a href="/logout"
                               class="text-error hover:bg-error hover:text-error-content"
                               th:href="@{/logout}">
                                <i data-feather="log-out" aria-hidden="true"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <div class="gap-2" sec:authorize="isAnonymous()">
                <a class="btn btn-info btn-outline rounded-full" href="#" th:href="@{/login}">Login</a>
                <a class="btn btn-success btn-outline rounded-full" href="#" th:href="@{/register}">Register</a>
            </div>
        </div>
    </div>
</header>
