<header th:fragment="header">
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost gap-2 text-xl text-white hover:bg-[#74C7EC]">
                <img alt="logo" class="w-10 h-10" src="/asset/logo.svg" th:src="@{/asset/logo.svg}"/>
                yomikaze
            </a>
            <div class="form-control">
                <label class="input-group">
                    <input class="input input-bordered" placeholder="Search" type="text"/>
                    <button class="btn btn-square">
                        <i data-feather="search" x-init="feather.replace()"></i>
                    </button>
                </label>
            </div>
        </div>
        <div class="flex-none gap-2">
            <div class="dropdown dropdown-end">
                <div class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full" tabindex="0">
                        <img alt="Username" class="rounded-full" src="https://placeimg.com/80/80/people"/>
                    </div>
                </div>
                <ul class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box" tabindex="0">
                    <li><a>Profile</a></li>
                    <li><a>Settings</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
