<!DOCTYPE html>
<html lang="en" th:insert="layouts/default">

<head>
    <title th:fragment="page-title">yomikaze::sign-in</title>
</head>
<body>
<div class="hero text-base-content min-h-screen bg-base-200" th:fragment="content">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left lg:px-16">
            <h1 class="text-5xl font-bold">Sign In</h1>
            <p class="py-6">
                Get signed-in to access member only features
            </p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="bg-red-100 rounded-box border border-red-500 text-red-700 px-4 py-3 card-title relative"
                 role="alert"
                 th:if="${param.failure != null}">
                <span class="block sm:inline" th:utext="#{authentication.login.unknown}"></span>
            </div>
            <form class="card-body" method="POST"
                  x-data="{submit: false}" @submit="submit = true"
                  th:action="@{/login}"
            >
                <div class="form-control">
                    <label class="label" for="username">
                        <span class="label-text">Username or Email</span>
                    </label>
                    <input class="input input-bordered" id="username" name="username" placeholder="Username or Email"
                           required type="text"/>
                </div>
                <div class="form-control">
                    <label class="label" for="password">
                        <span class="label-text">Password</span>
                    </label>
                    <input class="input input-bordered" id="password" name="password" placeholder="Password"
                           required type="password"/>
                </div>
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <span class="label-text">Remember me</span>
                        <input checked="checked" class="checkbox checkbox-primary" name="remember-me" type="checkbox"
                               value="true"/>
                    </label>
                </div>
                <div class="form-control">
                    <button :class="{loading: submit}" :disabled="submit" class="btn btn-accent">
                        <span x-text="submit ? 'Signing In...' : 'Sign In'">Sign In</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
