<!DOCTYPE html>
<html lang="en" th:insert="layouts/default">
<head>
    <title th:fragment="page-title">yomikaze::sign-up</title>
</head>
<body>
<div class="hero min-h-screen bg-base-200" th:fragment="content">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left lg:px-16">
            <h1 class="text-5xl font-bold">Sign up now!</h1>
            <p class="py-6">
                Sign-up an account to get access member only features.
            </p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <!--/*@thymesVar id="registration" type="org.yomikaze.web.dto.RegistrationData"*/-->
            <form class="card-body" method="POST" action ="/sign-up"
                  th:action="@{/sign-up}"
                  th:object="${registration}">
                <div class="form-control">
                    <label class="label" for="username">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" id="username" class="input input-bordered" placeholder="Username"
                           th:field="*{username}" th:errorclass="input-error"/>
                    <span class="label text-error"
                          th:if="${#fields.hasErrors('username')}"
                          th:text="${#messages.msgOrNull(#fields.errors('username'))}">
                        Account with this username already exists.
                    </span>
                </div>
                <div class="form-control">
                    <label class="label" for="email">
                        <span class="label-text">Email</span>
                    </label>
                    <input type="email"  id="email" class="input input-bordered" placeholder="Email"
                           th:field="*{email}" th:errorclass="input-error"/>
                    <span class="label text-error"
                          th:if="${#fields.hasErrors('email')}"
                          th:text="${#messages.msgOrNull(#fields.errors('email'))}">
                        Account with this email already exists.
                    </span>
                </div>
                <div class="form-control">
                    <label class="label" for="password">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" id="password" class="input input-bordered" placeholder="Password"
                           th:field="*{password}" th:errorclass="input-error"/>
                    <span class="label text-error"
                            th:if="${#fields.hasErrors('password')}"
                            th:text="${#messages.msgOrNull(#fields.errors('password'))}">
                        Password must be at least 8 characters long and contain at least one digit.
                    </span>
                </div>
                <div class="form-control">
                    <label class="label" for="password-confirmation">
                        <span class="label-text">Confirm Password</span>
                    </label>
                    <input type="password" id="password-confirmation" class="input input-bordered" placeholder="Confirm Password"
                           th:field="*{passwordConfirmation}" th:errorclass="input-error"/>
                    <form:errors path="passwordConfirmation" cssClass="label text-error"/>
<!--                    <span class="label text-error"-->
<!--                          th:if="${#fields.hasErrors('passwordConfirmation')}"-->
<!--                          th:text="${#messages.msgOrNull(#fields.errors('passwordConfirmation'))}">-->
<!--                        Password confirmation does not match.-->
<!--                    </span>-->
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-accent">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
