<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yomikaze::account::password::reset</title>
</head>
<body>
    <h1>Reset password</h1>
    <p>Hi, <th:block th:text="${account.profile.displayName}"/>.</p>
    <p>Please click the link below to reset your password.</p>
    <p><a th:href="${url}" th:text="${url}">${url}</a></p>
    <p>Or copy verification code below and paste it to the reset password page.</p>
    <p><code th:text="${token}">${token}</code></p>
    <p>Thank you.</p>
    <small>If you did not request a password reset, please ignore this email.</small>
</body>
</html>
