<!DOCTYPE html>
<html lang="en" th:insert="layouts/dashboard">
<head>
    <title th:fragment="page-title">history</title>
</head>
<body th:fragment="content">
<div class="flex flex-col align-middle gap-8">

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4"
         th:if="${comics != null && not #lists.isEmpty(comics.getContent())}"
         th:fragment="listing(comics)"
         th:with="list = ${comics.getContent()}"
    >
        <!--/*@thymesVar id="comic" type="org.yomikaze.persistence.entity.Comic"*/-->
        <!--/*@thymesVar id="list" type="java.util.List"*/-->
        <th:block th:each="i : ${#numbers.sequence(0, list.size() - 1)}"
                  th:with="comic = ${list.get(i)}, detail = ${@comicService.getComicDetail(comic)}">
            <!--/*@thymesVar id="detail" type="org.yomikaze.web.dto.comic.ComicDetailModel"*/-->
            <!--/*@thymesVar id="i" type="java.lang.Integer"*/-->
            <th:block th:insert="fragments/comic::card(${detail}, ${(i + 1) % 2 == 0})"></th:block>
        </th:block>
    </div>
    <div th:if="${comics == null || #lists.isEmpty(comics.getContent())}">
        <h2 class="text-center">No comic found</h2>
    </div>
    <div class="self-center">
        <th:block th:insert="fragments/pagination::pagination(${comics})"></th:block>
    </div>
</div>
</body>
</html>
