<!DOCTYPE html>
<html lang="en" th:insert="layouts/default">
<head>
    <title th:fragment="page-title">comic::new</title>
</head>
<body th:fragment="content">
<div class="min-h-screen flex flex-col items-stretch p-8 gap-8" x-data="{ current_step: 1}">
    <ul class="steps w-full max-w-lg self-center">
        <li @click="current_step = 1" class="step" :class="{'step-primary': current_step >= 1}">Fill in infos</li>
        <li @click="current_step = 2" class="step" :class="{'step-primary': current_step >= 2}">Upload images</li>
        <li @click="current_step = 3" class="step" :class="{'step-primary': current_step >= 3}">Finishing</li>
    </ul>
    <div class="grow flex items-center justify-center">
        <div class="flex justify-center gap-4" x-show="current_step === 1">
            <div>
                <label class="label" for="chapter-no">
                    <span class="label-text">Chapter Number</span>
                </label>
                <input id="chapter-no"
                       name="chapterNo"
                       class="input input-bordered w-24"
                       type="number"
                       value="0"/>
            </div>
            <div>
                <label class="label" for="chapter-title">
                    <span class="label-text">Chapter Title</span>
                </label>
                <input  id="chapter-title"
                        name="chapterTitle"
                        class="input input-bordered w-48 sm:w-64"
                        type="text"
                        placeholder="Chapter's title"
                />
            </div>
        </div>
        <div class="flex justify-center gap-4 w-9/12" x-show="current_step === 2">
            <div class="w-full">
                <div x-data="dataFileDnD()"
                     class="relative flex flex-col p-4 text-base-content rounded bg-base-200"
                >
                    <form
                        th:action="@{/api/v1/image/upload}"
                        action="/api/v1/image/upload"
                        @submit.prevent="uploadImages()"
                        x-ref="dnd"
                        method="POST"
                        enctype="multipart/form-data"
                        class="relative flex flex-col text-base-content border border-base-content border-dashed rounded cursor-pointer"
                        id="upload"
                    >
                        <input type="file"
                               multiple
                               accept="image/jpeg,image/jpg,image/png,image/webp"
                               class="absolute inset-0 z-50 w-full h-full p-0 m-0 outline-none opacity-0 cursor-pointer"
                               @change="replaceFiles($event)"
                               @dragover="$refs.dnd.classList.add('border-primary'); $refs.dnd.classList.add('ring-4'); $refs.dnd.classList.add('ring-inset');"
                               @dragleave="$refs.dnd.classList.remove('border-primary'); $refs.dnd.classList.remove('ring-4'); $refs.dnd.classList.remove('ring-inset');"
                               @drop="$refs.dnd.classList.remove('border-primary'); $refs.dnd.classList.remove('ring-4'); $refs.dnd.classList.remove('ring-inset');"
                               name="files"
                               :disabled="submitting"
                        >
                        <div class="flex flex-col items-center justify-center py-10 text-center">
                            <i data-feather="upload-cloud" class="w-16 h-16 mx-auto text-primary"></i>
                            <p class="m-0">
                                <span class="hidden sm:inline">Drag your files here or click in this area.</span>
                                <span class="sm:hidden">Click in this area.</span>
                            </p>
                        </div>
                    </form>
                    <template x-if="files.length > 0">
                        <div class="grid grid-cols-2 gap-4 mt-4 md:grid-cols-6"
                             @drop.prevent="drop($event)"
                             @dragover.prevent="$event.dataTransfer.dropEffect = 'move'">
                            <template x-for="(file, index) in files" :key="index">
                                <div class="relative flex flex-col items-center overflow-hidden text-center bg-gray-100 border rounded cursor-move select-none"
                                     style="padding-top: 100%;" @dragstart="dragstart($event)" @dragend="fileDragging = null"
                                     :class="{'border-primary': fileDragging === index}" :draggable="!submitting" :data-index="index">
                                    <button class="absolute top-0 right-0 z-50 p-1 bg-white rounded-bl focus:outline-none text-error text-xl"
                                            type="button"
                                            @click="remove(index)"
                                            aria-label="remove"
                                            :disabled="submitting"
                                    >
                                        <i data-feather="trash" aria-hidden="true"></i>
                                    </button>
                                    <template x-if="file.type.includes('image/')">
                                        <img
                                            class="absolute inset-0 z-0 object-cover w-full h-full border-4 border-white preview"
                                            x-bind:src="loadFile(file)"
                                            x-bind:alt="file.name"
                                            alt="image"
                                        >
                                    </template>

                                    <div class="absolute bottom-0 left-0 right-0 flex flex-col p-2 text-xs bg-white bg-opacity-50">
                                        <span class="w-full font-bold text-gray-900 truncate" x-text="file.name">
                                            Loading...
                                        </span>
                                        <span class="text-xs text-gray-900" x-text="humanFileSize(file.size)">0B</span>
                                    </div>

                                    <div class="absolute inset-0 z-40 transition-colors duration-300"
                                         @dragenter="dragenter($event)"
                                         @dragleave="fileDropping = null"
                                         :class="{'bg-primary bg-opacity-80': fileDropping === index && fileDragging !== index}">
                                    </div>
                                </div>
                            </template>
                        </div>
                    </template>
                    <div class="p-4 mx-auto">
                        <button form="upload" class="btn btn-accent" type="submit" :class="{loading: submitting}" :disabled="submitting">
                            <span x-text="submitting ? 'Uploading...' : 'Upload'">Upload</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row w-11/12 h-full" x-show="current_step === 3">
            <div class="w-6/12 h-full">
                <div class="form-control h-full">
                    <label for="image-order" class="label"><span class="label-text">Images order</span></label>
                    <textarea id="image-order"
                              class="input input-bordered input-primary max-h-screen min-h-screen"
                              placeholder="Paste here the image urls, one per line"
                              x-data="{focus: false, lastKeyUp: 0}"
                              @focus="focus = true"
                              @blur="focus = false"
                              @change="if (focus) { $store.data.urls = $el.value.split('\n') || [] }"
                              @keyup="if (focus && lastKeyUp + 500 >= Date.now()) { lastKeyUp = Date.now(); $store.data.urls = $el.value.split('\n') || [] }"
                              x-init="$watch('$store.data.urls', value => { if (focus) $el.value = value.join('\n').trim() })"></textarea>
                </div>
            </div>
            <div x-show="$store?.data?.urls?.length" class="divider divider-horizontal"></div>
            <div x-show="$store?.data?.urls?.length" id="images" class="w-6/12 grid grid-cols-3 gap-4 h-full">
                <template x-for="url in ($store?.data?.urls || [])">
                    <img :src="url" alt="image"/>
                </template>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    let images = document.getElementById('images');
                    let textarea = document.getElementById('image-order');
                    Sortable.create(images, {
                        animation: 150,
                        scrollSensitivity: 300,
                        scrollSpeed: 10,
                        scroll: true,
                        store: {
                            set: function (sortable) {
                                let images = sortable.el.children;
                                let urls = Array.from(images)
                                    .filter(img => img.tagName === 'IMG')
                                    .filter(img => img.src && img.src !== '')
                                    .map(img => img.src);
                                textarea.value = urls.join('\n');
                            }
                        }
                    });
                });
            </script>
        </div>
    </div>
    <div class="flex justify-between">
        <button x-show="current_step === 1">&nbsp;</button>
        <button
            x-show="current_step >= 2"
            class="btn self-start"
            @click="current_step--"
        >Back</button>
        <button
            x-show="current_step === 1"
            class="btn btn-primary"
            @click="current_step = 2"
        >Next</button>
        <button
            x-show="current_step === 2"
            class="btn btn-primary"
            @click="current_step = 3"
        >Next</button>
        <button
            x-show="current_step === 3"
            class="btn btn-primary"
            @click="console.log('#TODO')"
        >Submit</button>
    </div>
</div>
<script>
    function dataFileDnD() {
        return {
            files: [],
            fileDragging: null,
            fileDropping: null,
            submitting: false,
            humanFileSize(size) {
                const i = Math.floor(Math.log(size) / Math.log(1024));
                return (
                    (size / Math.pow(1024, i)).toFixed(2) * 1 +
                    " " +
                    ["B", "kB", "MB", "GB", "TB"][i]
                );
            },
            remove(index) {
                let files = [...this.files];
                files.splice(index, 1);

                this.files = createFileList(files);
            },
            drop(e) {
                let removed, add;
                let files = [...this.files];

                removed = files.splice(this.fileDragging, 1);
                files.splice(this.fileDropping, 0, ...removed);

                this.files = createFileList(files);

                this.fileDropping = null;
                this.fileDragging = null;
            },
            dragenter(e) {
                let targetElem = e.target.closest("[draggable]");

                this.fileDropping = targetElem.getAttribute("data-index");
            },
            dragstart(e) {
                this.fileDragging = e.target
                    .closest("[draggable]")
                    .getAttribute("data-index");
                e.dataTransfer.effectAllowed = "move";
            },
            loadFile(file) {
                const preview = document.querySelectorAll(".preview");
                const blobUrl = URL.createObjectURL(file);

                preview.forEach(elem => {
                    elem.onload = () => {
                        URL.revokeObjectURL(elem.src); // free memory
                    };
                });

                return blobUrl;
            },
            addFiles(e) {
                this.files = createFileList([...this.files], [...e.target.files]);
            },
            replaceFiles(e) {
                this.files = createFileList([...e.target.files]);
            },
            uploadImages() {
                this.submitting = true;
                const formData = new FormData(this.$el);
                fetch(this.$el.action, {
                    method: this.$el.method,
                    credentials: 'include',
                    body: formData,
                })
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        if (data.error) {
                            alert(data.error);
                            return;
                        }
                        this.files = [];
                        this.$el.reset();
                        this.$store.data.urls.push(...data);
                        this.submitting = false
                        alert('Images uploaded successfully');
                    })
                    .catch(error => console.error('Error:', error));
            },
        };
    }
    document.addEventListener('alpine:init', () => {
        Alpine.store('data', {
            urls: [],
        })
    })
</script>
<script src="/asset/js/create-file-list.js" th:src="@{/asset/js/create-file-list.js}"></script>
<script src="/asset/js/Sortable.min.js" th:src="@{/asset/js/Sortable.min.js}"></script>
</body>
</html>
